#header {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    border: 2px dotted rgb(23, 209, 255);
    border-radius: 30px;
    margin-top: 5px;
    
}

.mainbox {
    position: absolute;
    width: 305px;
    border: solid 1px grey;
    border-radius: 5px;
    background-color: #39B54A;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: cursive;
}

#mainheader h2{
    text-align: center;
}

#imageBox {
    text-align: center;
    width: 150px;
}

#imageBox img{
    width: 75px;
}

.hide {
    visibility: hidden;
}

#button {
    display: flex;
    width: 150px;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin-bottom: 2px;

}

#gamesize {
    background-color: rgb(23, 209, 255);
    border: 3px solid rgba(62, 62, 255, 0.274);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    font-family: cursive;
    font-size: large;
}

#windowTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 25px;
    min-width: 305px;
    background-color: #3E885B;

}

.closeWindow {
    display: flex;
    justify-items: flex-end;
    border-radius: 2px;
    background-color: #EE6352;
}
