#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#mainbox {
    position: relative;
    width: 200px;
    border: solid 1px grey;
    border-radius: 2px;
    background-color: rgb(198, 205, 211);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#imageBox img{
    width: 50px;
}

.hide {
    visibility: hidden;
}

#button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#windowTop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 25px;
    min-width: 200px;
    background-color: rgb(121, 155, 150);
}

.closeWindow {
    display: flex;
    justify-items: flex-end;
}
