/* body {
	margin: 0px;
	background-color: bisque;
} */

.mainbox{
	position: absolute;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
}

input {
	margin: 2px;
	padding: 2px;
}

.chatbox {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgb(189, 189, 189);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #39B2A1;

}
.username{
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgb(189, 189, 189);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #39B2A1;
}

#changeUsername {
	margin-top: 5px;
	margin-bottom: 5px;
}

.windowTop{
	display: flex;
	justify-content: flex-end;
	width: 400px;
	border: 1px solid rgb(189, 189, 189);
	border-bottom: none;
	background-color: #3E885B;
}


#maincontent {
	border: solid 1px black;
	width: 300px;
	min-height: 50px;
	padding: 5px;
	border: solid 1px grey;
	border-radius: 3px;
	background-color: gainsboro;
	overflow-wrap: break-word;
}

.hidden {
	display: none;
}

.yourmessages {
	background-color: white;
}
.othermessages {
	background-color: grey;
}
