body {
    background-image: url('../image/bakgrundsbild.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    width: fit-content;
    height: 50px;
    padding: 10px;
    flex-direction: row;
    margin: auto auto;
    justify-content: space-between;
    background-color: rgba(95, 158, 160, 0.473);
}

/* #memoryWindow {
    width: 500px;
    height: 500px;
} */

#memory {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 10px;
    background-image: url('../image/memory.bmp');
    background-size: contain;
    background-repeat: no-repeat;

}
#chat {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 10px;
    background-image: url('../image/memory.bmp');
    background-size: contain;
    background-repeat: no-repeat;

}
#otherapp {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-image: url('../image/memory.bmp');
    background-size: contain;
    background-repeat: no-repeat;
}
