body {
	margin: 0px;
	font-family: cursive;
	font-size: larger;
}

.mainbox {
    position: absolute;
	width: fit-content;
	height: fit-content;
    border: solid 1px grey;
    border-radius: 5px;
    background-color: rgb(198, 205, 211);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#canvas {
	background-color: black;
	border: 1px solid grey;
}

#usernamebutton, #restartgame {
	background-color: rgb(23, 209, 255);
	border: 3px solid rgba(62, 62, 255, 0.274);
	border-radius: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px;
	font-family: cursive;
	font-size: large;
}

#usernameinput {
	font-family: cursive;
	padding: 5px;
}

.mainbox{
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.username{
	width: 500px;
	background-color: #BFC0C0;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgb(189, 189, 189);
	border-radius: 5px;
}

.username h1 {
	border-bottom: 3px solid #22A9FF;
	border-top: 3px solid #22A9FF;
	border-radius: 5px;
}
.username p {
	width: 200px;
	border-left: 2px dashed #22A9FF;
	border-right: 2px dashed #22A9FF;
	border-bottom: 2px dashed #22A9FF;
	text-align: center;
	padding: 2px;
	margin-block-start: 5px;
	margin-block-end: 5px;
}

#windowtop{
	display: flex;
	justify-content: flex-end;
	width: 500px;
	background-color: #3E885B;
}


#maincontent {
	border: solid 1px black;
	width: 500px;
	min-height: 50px;
}

.gameover {
	width: 500px;
	height: fit-content;
	background-image: linear-gradient(to right,red, yellow);
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgb(189, 189, 189);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.gameover h1, .gameover h2 {
	margin-block-start: 1px;
	margin-block-end: 1px;

	border-bottom: 10px solid rgba(128, 128, 128, 0.8);;
}


#scoreboard {
	text-align: center;
	width: fit-content;
	height: fit-content;
	/* border: 2px solid rgba(128, 128, 128, 0.8); */
	border-radius: 10px;
	/* padding: 5px; */
	/* background-color: rgba(52, 175, 252, 0.651); */
}
#scoreboard ol {
	text-align: center;
	border: 2px solid rgba(128, 128, 128, 0.8);
	border-radius: 10px;
	padding: 5px;
	padding-inline-start: 30px;
	/* background-color: rgba(52, 175, 252, 0.651); */
}
#scoreboard li {
	text-align: end;
	border: none;
	padding-inline-start: 0px;
}

.hidden {
	display: none;
}
